html, body, #root {
    height: 100%;
}

.container {
    height: 100%;
}
.loader {
    height: 100%;
    display: flex;
}
.loader__text {
    margin: auto;
}
.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}